/* ==========================================
   CUSTOM FONTS
   Font-face declarations
   ==========================================*/


// Halimun Regular
@font-face {
  font-family: 'Halimun';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Halimun Regular'), 
       url('../fonts/halimun/halimun.woff2') format('woff2'),
       url('../fonts/halimun/halimun.woff') format('woff');
}

// Halimun Medium
@font-face {
  font-family: 'Halimun';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Halimun Medium'), 
       url('../fonts/halimun/halimun.woff2') format('woff2'),
       url('../fonts/halimun/halimun.woff') format('woff');
}

// Halimun Bold
@font-face {
  font-family: 'Halimun';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Halimun Bold'), 
       url('../fonts/halimun/halimun.woff2') format('woff2'),
       url('../fonts/halimun/halimun.woff') format('woff');
}

// Halimun Italic
@font-face {
  font-family: 'Halimun';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Halimun Italic'), 
       url('../fonts/halimun/halimun.woff2') format('woff2'),
       url('../fonts/halimun/halimun.woff') format('woff');
}

@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arapey'), 
       url('../fonts/arapey/Arapey-Regular.woff2') format('woff2'), 
       url('../fonts/arapey/Arapey-Regular.woff') format('woff'),
       url('../fonts/arapey/Arapey-Regular.ttf') format('truetype'), 
       url('../fonts/arapey/Arapey-Regular.eot'); 
}

/*
@font-face {
  font-family: 'The Seasons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('The Seasons'), 
       url('../fonts/the-seasons/The-Seasons-Regular.woff2') format('woff2'), 
       url('../fonts/the-seasons/The-Seasons-Regular.woff') format('woff'),
       url('../fonts/the-seasons/The-Seasons-Regular.ttf') format('truetype'), 
       url('../fonts/the-seasons/The-Seasons-Regular.eot'); 
}
*/