@use "../abstracts" as *;

/* ==========================================
   BASE STYLES
   ========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Comment this line out for debugging
// * { outline: 1px solid var(--color-error) !important;  }

body {
    width: 100%;
    max-width: 100%;
    line-height: var(--line-height-base);
    hyphens: none;
  
    @media (max-width: $breakpoint-desktop) {
      hyphens: auto;
    }
}

.skip-link,
.visually-hidden,
.sr-only {
  @include visually-hidden;
  // Add !important ONLY to the utility classes if needed
}

