@use "../abstracts" as *;

/* ==========================================
   BASE STYLES
   ========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
* {
  outline: 1px solid var(--color-error);  // Remove this when done debugging
}
*/

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    font-family: $font-family;
    color: var(--color-text);
    line-height: var(--line-height-base);
    background: var(--color-bg-secondary);
    overflow-x: hidden;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
