@use "../abstracts" as *;

/* ==========================================
   BASE STYLES
   ========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
  outline: 1px solid red;  // Remove this when done debugging
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    font-family: $font-family;
    color: var(--color-text);
    line-height: var(--line-height-base);
    background: var(--color-bg-secondary);
    overflow-x: hidden;
}
