<h3 class="widget-title">{{ i18n "archive" }}</h3>
<div class="widget-content">
    {{/* Get only blog posts, not archive pages */}}
    {{ $blogPosts := where .Site.RegularPages "Section" "blog" }}
    
    {{/* Filter out archive pages */}}
    {{ $filteredPosts := slice }}
    {{ range $blogPosts }}
        {{ if not (in .RelPermalink "/archive/") }}
            {{ $filteredPosts = $filteredPosts | append . }}
        {{ end }}
    {{ end }}
 
    <select class="archive__dropdown" id="archive-dropdown">
        <option value="">Select a month ({{ len $filteredPosts }} posts)</option>
        {{ range $filteredPosts.GroupByDate "2006-01" }}
            {{ $firstPost := index .Pages 0 }}
            {{ $archiveKey := $firstPost.Date.Format "2006-01" }}
            <option value="/blog/archive/{{ $archiveKey }}/">
                {{ $firstPost.Date.Format "January 2006" }} ({{ len .Pages }})
            </option>
        {{ end }}
    </select>
</div>