<h3 class="widget-title">{{ i18n "newsletter" }}</h3>
<p class="widget-message">{{ i18n "newsletterDescription" }}</p>

<form class="newsletter-form" action="{{ .Site.Params.newsletterAction }}" method="POST">
    <div class="newsletter-sections">
        <label class="newsletter-checkbox">
            <input type="checkbox" name="sections[]" value="blog" 
                   {{ if eq .Section "blog" }}checked{{ end }}>
            <span>Blog</span>
        </label>
        <label class="newsletter-checkbox">
            <input type="checkbox" name="sections[]" value="cycling" 
                   {{ if eq .Section "cycling" }}checked{{ end }}>
            <span>Cycling</span>
        </label>
        <label class="newsletter-checkbox">
            <input  type="checkbox" name="sections[]" value="tech" 
                   {{ if eq .Section "tech" }}checked{{ end }}>
            <span>Tech</span>
        </label>
    </div>
    
    <input type="email"class="form-input" name="email" placeholder="{{ i18n "emailPlaceholder" }}" required>
    <button type="submit">{{ i18n "subscribe" }}</button>
</form>