<!-- newsletter widget -->
<div class="widget">
    <h3 class="widget__title">{{ i18n "nl-newsletter" }}</h3>
    <p class="widget__message">{{ i18n "nl-newsletterDescription" }}</p>

    <form class="newsletter-form"
        data-endpoint="{{ .Site.Params.newsletterAction }}"
        data-checkbox-group="newsletter__section-checkbox"
        data-checkbox-error="newsletter-sections-error"
        data-msg-checkbox-required="{{ i18n "form-errorSectionsRequired" }}"
        data-success-message="{{ i18n "form-success-subscribed" }}"
        data-error-message="{{ i18n "form-error-message" }}"
        data-name-particles="{{ delimit .Site.Params.nameParticles "," }}" >

        <div class="form__checkboxes">
            <div class="form__group">
                <label for="section-blog" class="form__label">Blog</label>
                <input type="checkbox" id="section-blog" name="sections[]"
                    value="blog"
                    class="newsletter__section-checkbox"
                    {{ if eq .Section "blog" }}checked{{ end }}>
            </div>
            <div class="form__group">
                <label for="section-cycling" class="form__label">Cycling</label>
                <input type="checkbox" id="section-cycling" name="sections[]"
                    value="cycling"
                    class="newsletter__section-checkbox"
                    {{ if eq .Section "cycling" }}checked{{ end }}>
            </div>
            <div class="form__group">
                <label for="section-tech" class="form__label">Tech</label>
                <input type="checkbox" id="section-tech" name="sections[]"
                    value="tech"
                    class="newsletter__section-checkbox"
                    {{ if eq .Section "tech" }}checked{{ end }}>
            </div>
        </div>

        <span id="newsletter-sections-error" class="form__error"></span>

        <!-- First and last name side by side -->
<div class="form__group--inline">
        <div class="form__group form__group--float">
            <input type="text" id="newsletter-firstname" name="firstname"
                autocomplete="given-name" placeholder=" ">
            <label for="newsletter-firstname"
                class="form__label form__label--float">First name</label>
                <span class="form__error"></span>
        </div>

        <div class="form__group form__group--float">
            <input type="text" id="newsletter-lastname" name="lastname"
                autocomplete="family-name"
                placeholder="  ">
            <label for="newsletter-lastname"
                class="form__label form__label--float required">Last name</label>
                <span class="form__error"></span>
        </div>
</div>

        <!-- Email -->
        <div class="form__group form__group--float">
            <input type="email" id="newsletter-email" name="email"
                autocomplete="email"
                placeholder=" "
                required
                data-msg-invalid="{{ i18n "form-errorEmailInvalid" }}"
                data-error="newsletter-email-error">
            <label for="newsletter-email"
                class="form__label form__label--float required">Email</label>
            <span id="newsletter-email-error" class="form__error"></span>
        </div>

        <button type="submit" disabled class="button"
            data-loading-text="{{ i18n "nl-subscribing" }}">
            {{ i18n "nl-subscribe" }}
        </button>
    </form>
</div>
