<h3 class="widget__title">{{ i18n "recentPosts" }}</h3>

{{ $posts := slice }}
{{ range site.Pages }}
    {{ if eq .Kind "page" }}
        {{/* Check section filter - only filter if we're on a content section page */}}
        {{ $include := true }}
        {{ if and $.Section (in (slice "blog" "cycling" "tech") $.Section) }}
            {{ $include = eq .Section $.Section }}
        {{ end }}
        
        {{ if $include }}
            {{ $posts = $posts | append . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ range first 5 $posts }}
    <a href="{{ .RelPermalink }}" class="widget__recent-post">
        <div class="widget__recent-thumb">
            {{ $image := .Resources.GetMatch (.Params.featured_image | default "featured*") }}
            {{ if $image }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
            {{ else }}
                <div class="widget__recent-post--no-image"></div>
            {{ end }}
        </div>
        <div class="widget__recent-info">
            <h4>{{ .Title }}</h4>
            <span class="widget__recent-date">{{ .Date.Format "Jan 02, 2006" }}</span>
        </div>
    </a>
{{ end }}