<!-- search widget -->
<div class="widget form">
    <h3 class="widget__title">{{ i18n "search" }}</h3>
    <form action="{{ "search" | relLangURL }}" method="get">
        <div class="form__group form__group--float">
            <input 
                type="text" 
                name="q" 
                id="search-name"
                placeholder="{{ i18n "searchPlaceholder"}}" 
                autocomplete="off"
                aria-label="Search">
            <label for="search-name" class="form__label form__label--float">
                {{ i18n "searchArticles" }}...
            </label>
            <button type="submit" id="search-clear"
                class="button button__clear search__clear"
                aria-label="Search for an article">🔍</button>
        </div>
    </form>
</div>