{{ define "title" }}{{ .Title }} | {{ site.Title }}{{ end }}

{{ define "main" }}
<div class="display-template hidden">
    _default/about.html
</div>

{{/* hero */}}
{{ partial "image.html" (dict "page" . "hero" true) }}

<div class="contents__container">
    <article class="single">
        <header class="single__header">
            <h1 class="single__headline">{{ .Title }}</h1>
            {{ partial "published.html" . }}
            {{ partial "reading-time.html" . }}
        </header>

        <div class="single__content">
            {{ .Content }}
        </div>

        {{ partial "date.html" . }}

        <div class="single__footer">
            <nav class="about__links">
                <a href="{{ "/about/" | relURL }}">About</a>
                <a href="{{ "/about/cv/" | relURL }}">CV</a>
                <a href="{{ "/about/education/" | relURL }}">Education</a>
            </nav>

            {{ partial "comments-netlify.html" . }}
        </div>
    </article>
</div>
{{ end }}
