{{ define "title" }}{{ .Title }} | {{ site.Title }}{{ end }}

{{ define "main" }}
<div class="display-template hidden">
    _default/about.html
</div>

{{/* hero */}}
{{ partial "image.html" (dict "page" . "hero" true) }}

<div class="contents__container">
    <header class="contents__header">
        <h1 class="contents__title">{{ .Title }}</h1>
        {{ with .Params.description }}
        <p class="contents__description">{{ . }}</p>
        {{ end }}
        {{ partial "date-modified" . }}
        <div class="reading-time">{{ .ReadingTime }} {{ i18n "min-read" }}</div>
    </header>

    <article class="single__content">
        {{ .Content }}
    </article>

   <time>📅 {{ i18n "page-created" }} {{ .Date.Format site.Params.date_format }}</time>

    <nav class="about__links">
        <a href="{{ "/about/" | relURL }}">About</a>
        <a href="{{ "/about/cv/" | relURL }}">CV</a>
        <a href="{{ "/about/education/" | relURL }}">Education</a>
    </nav>

    {{ partial "comments-netlify.html" . }}
</div>
{{ end }}
