{{/* ============================================================
<div class="contents__container list">        <!-- layout wrapper -->
    <header class="contents__header">         <!-- page header -->
        <h1 class="contents__title">...</h1>
    </header>

    <div class="list__grid">                  <!-- layout grid -->
        <section class="list__posts">         <!-- meaningful group of articles -->
            <article class="list__post">      <!-- each individual post -->
            <article class="list__post">
            <article class="list__post">
        </section>

        <aside class="sidebar">
    </div>
</div>
     ============================================================ */}}

{{ define "title" }}{{ .Title }} | {{ site.Title }}{{ end }}

{{ define "main" }}
<div class="display-template hidden">
    _default/list.html
</div>

{{ $posts := where site.RegularPages "Section" .Section }}
{{ $paginator := .Paginate $posts }}

<div class="contents__container list">
  <article>
    <header class="contents__header">
        <h1 class="contents__title">{{ .Title }}</h1>
        {{ with .Description }}
        <p class="contents__description">{{ . }}</p>
        {{ end }}
    </header>

    <time>{{ .Date.Format site.Params.date_format }}</time>
    <div class="reading-time">{{ .ReadingTime }} {{ i18n "min-read"}}</div>

    {{ if and .Content (eq $paginator.PageNumber 1) }}
    <div class="contents__content">
        {{ .Content }}
    </div>
    {{ end }}
</article>

    <h2 class="contents__title-h2">{{ i18n "recentPosts" . }}:</h2>

    <div class="list__grid">
        <section class="list__posts">
            {{ range $index, $post := $paginator.Pages }}
            {{ if and .Date (ne (.Date.Format "2006") "0001") }}
            {{ partial "post-card.html" (dict "post" $post "index" $index) }}
            {{ end }}
            {{ end }}

            {{ partial "pagination.html" $paginator }}
        </section>

        {{ partial "sidebar.html" (dict "page" . "context" "list") }}
    </div>
</div>
{{ end }}
