{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="display-template hidden">
    _default/single.html
</div>

{{ $img := .Resources.Get .Params.featured_image }}
{{ if $img }}
    <img class="single__hero-bg" src="{{ $img.RelPermalink }}">
{{ end }}

<div class="contents__container">
<article class="single">
    <header class="single__masthead">    
            <h1 class="single__headline">{{ .Title }}</h1>
    
            <div class="single__byline">
                {{ partial "date-modified" . }}
                
                {{ $authorSlug := .Params.author | urlize }}
                {{ $author := index .Site.Data.authors $authorSlug }}
                {{ with $author }}
                    <span>By {{ .name }}</span>
                {{ else }}
                    {{ with $.Params.author }}
                        <span>By {{ . }}</span>
                    {{ end }}
                {{ end }}
                
                  {{ partial "reading-time.html" . }}
            </div>

            <!-- Tags -->
            {{ if .Params.tags }}
                <div class="single__taxonomy">{{ i18n "tags" }}:
                    {{ with .Params.tags }}
                        {{ $validTags := slice }}
                        {{ range . }}
                            {{ if ne . "" }}
                                {{ $validTags = $validTags | append . }}
                            {{ end }}
                        {{ end }}
                        {{ if gt (len $validTags) 0 }}
                            <span class="single__tags">
                                {{ range $index, $tag := $validTags }}
                                    {{ if $index }}, {{ end }}
                                    <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">#{{ $tag }}</a>
                                {{ end }}
                            </span>
                        {{ end }}
                    {{ end }}
                </div>
            {{ end }}
        </header>

        <!-- Two-column content with floating images -->
        <div class="single__content">
            {{ .Content }}
        </div>

        
        {{ partial "continue-reading.html" . }}
        <!-- Comments -->
        {{ partial "comments-cusdis.html" . }}
    </article>
</div>
{{ end }}