{{ define "title" }}{{ .Title }} | {{ site.Title }}{{ end }}

{{ define "main" }}
<div class="display-template hidden">_default/taxonomy.html</div>

<div class="contents__container">
    <header class="contents__header">
        <h1 class="contents__title">{{ .Title }}</h1>
        <p class="contents__description">{{ i18n "postsTagged" }}</p>
    </header>

    <div class="list__grid">
        <section class="list__posts">
            {{ $paginator := .Paginate .Pages }}

            {{ range $index, $post := $paginator.Pages }}
                {{ partial "post-card.html" (dict "post" $post "index" $index) }}
            {{ end }}

            {{ partial "pagination.html" $paginator }}
        </section>

        {{ partial "sidebar.html" (dict "page" . "context" "list") }}
    </div>
</div>
{{ end }}
