@use "../abstracts" as *;

/* ==========================================
   ABOUT PAGE
   ========================================== */

.about {

    &__byline {
        text-align: right;
        width: 100%;
        font-style: italic;
        margin-bottom: 1rem;
    }

    &__links {
    display: flex;
    justify-content: center;
    gap: var(--spacing-lg);
    border: 1px solid var(--color-border);
    margin-bottom: var(--spacing-xl);
    }
    
}

   