{{ if not .Params.disable_comments }}
<section class="comments">
    <div class="comments__container">
        <h2 class="comments__title">💬 {{ i18n "comments" }}</h2>
        <p class="comments__description">
            {{ if in .Params.categories "Tech" }}
                {{ i18n "tech-comments"}}
            {{ else if in .Params.categories "Cycling" }}
                {{ i18n "cycling-comments" }}
            {{ else }}
                {{ i18n "general-comments" }}
            {{ end }}
        </p>
        
        <div id="cusdis_thread"
             data-host="{{ .Site.Params.cusdis.host }}"
             data-app-id="{{ .Site.Params.cusdis.appId }}" 
             data-page-id="{{ .RelPermalink }}"
             data-page-url="{{ .Permalink }}"
             data-page-title="{{ .Title }}"
             data-theme="light">
        </div>
        <script async defer src="{{ .Site.Params.cusdis.host }}/js/cusdis.es.js"></script>
    </div>
</section>

{{ end }}