<!-- The section to read previous and/or next articles -->
 
<div class="single__footer">
    <!-- Post Navigation -->
    <div>
        {{ if or .PrevInSection .NextInSection }}
        <h4 class="single__navigation-label">Continue reading</h4>
        {{ end }}
    </div>

    <nav class="single__navigation">
        {{ with .PrevInSection }}
        <a href="{{ .RelPermalink }}" class="single__nav-link single__nav-link--prev">
            ← {{ .Title }}
        </a>
        {{ end }}

        {{ with .NextInSection }}
        <a href="{{ .RelPermalink }}" class="single__nav-link single__nav-link--next">
            {{ .Title }} →
        </a>
        {{ end }}
    </nav>
</div>