/* ==========================================
   HELPERS
   ========================================== */

.hidden {
  display: none !important;
}

time {
  text-align: right;
  width: 100%;
  display: block;
  font-style: italic;
}

.reading-time {
  text-align: right;
  font-style: italic;
  font-size: var(--font-size-sm);
  width: 100%;
}